nav.navbar {
    background-color: purple;
}

nav.navbar-light .navbar-brand {
    color: azure;
}

nav.navbar-light .navbar-nav .nav-link {
    color: azure;
}

button.btn.success{
    background-color: lightgreen;
}

button.btn.danger{
    background-color: red;
}

button.btn.primary {
    background-color: darkcyan;
}

button.btn.warning {
    background-color: darkorange;
}

a.btn.danger{
    background-color: red;
}

a.btn.primary{
    background-color: darkcyan;
}

a.btn.success{
    background-color: lightgreen;
}

a.btn.warning{
    background-color: darkorange;
}

b{
    font-size: 30px;
}



